<!DOCTYPE html>
{% from "common/_macros.html" import static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "common/_heads.html" %}
    <script src="http://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script src="{{ static('common/xtparam.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_signbase.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="outer-box">
    <div class="logo-box">
        <a href="/"><img src="{{ static('common/images/logo.png') }}" alt=""></a>
        <h2 class="page-title">{% block h2_title %}{% endblock %}</h2>

        <div class="form-box">
            {% block signbox %}
            {% endblock %}
            <span style="display: none;" id="return-to-span">{{ return_to }}</span>
        </div>
    </div>
</div>
</body>
</html>